{% extends "base.html.twig" %}

{% block body %}
    <ul>
        {% for article in articles %}
            <li>
                <a href="/articles/{{ article.name }}">
                    {{ article.name }}
                </a>
                ({{ article.format }})
            </li>
        {% else %}
            <li><em>No articles...</em></li>
        {% endfor %}
    </ul>
{% endblock %}
